<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829309297995-se24213grj4sbj77fdn504aa78j2r4dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829309297995-se24213grj4sbj77fdn504aa78j2r4dm</string>
	<key>API_KEY</key>
	<string>AIzaSyDOb7yUwREvvDjJTfTvS_0BI90ublL1UM8</string>
	<key>GCM_SENDER_ID</key>
	<string>829309297995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pearlstoneenergy.mobile.pearlstone</string>
	<key>PROJECT_ID</key>
	<string>pearlstone-3e6c7</string>
	<key>STORAGE_BUCKET</key>
	<string>pearlstone-3e6c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829309297995:ios:61cd9d02e60d681d71b4ce</string>
	<key>DATABASE_URL</key>
	<string>https://pearlstone-3e6c7.firebaseio.com</string>
</dict>
</plist>